--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121
torchmetrics
aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-types
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
charset-normalizer
click
cloudpickle
colorama
colorlog
comm
contourpy
coreforecast
cycler
debugpy
decorator
defusedxml
docopt
dotenv
et_xmlfile
executing
fastjsonschema
filelock
fonttools
frozenlist
fsspec
greenlet
idna
iniconfig
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kiwisolver
lightning-utilities
llvmlite
Mako
MarkupSafe
matplotlib
matplotlib-inline
mistune
mlforecast
mpmath
msgpack
multidict
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
neuralforecast
numba
numpy
openpyxl
optuna
packaging
pandas
pandocfilters
parso
pickleshare
pillow
pipreqs
platformdirs
pluggy
prompt_toolkit
propcache
protobuf
psutil
pure_eval
pyarrow
pydantic
pydantic_core
Pygments
pyparsing
pytest
python-dateutil
python-dotenv
pytorch-lightning
pytz
PyYAML
pyzmq
ray
referencing
requests
rpds-py
scikit-learn
scipy
seaborn
setuptools
six
soupsieve
SQLAlchemy
stack-data
sympy
tensorboardX
threadpoolctl
tinycss2
tornado
tqdm
traitlets
typing-inspection
typing_extensions
tzdata
Unidecode
urllib3
utilsforecast
wcwidth
webencodings
window_ops
xgboost
yarg
yarl
